/ruff
/hf

# ============ work ============ 



# ============ api ============ 

/api/__pycache__
/api/.git

/api/src/base/__pycache__
/api/src/book_rec/__pycache__
/api/src/cat_and_dog/__pycache__
/api/src/movie_rec/__pycache__
/api/src/movie_2022_rec/__pycache__
/api/src/movie_reviews/__pycache__

# ============ frontend ============ 

/frontend/.gitignore

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*